// Fonts
$base: 16;

$font-12: 12px;
$font-16: 16px;
$font-24: 24px;
$font-32: 32px;


$normal: 400;
$medium: 500;
$semi-bold: 600;

$thin: 300;
$bold: 700;
$ultra-bold: 900;

// fixed variable
$blue-light: #3e76ff;
$primaryfont: 'Poppins', sans-serif;
$font-grey: #6d6e71;
$color-green: #57a452;

$box-shadow : -2px 5px 5px 0px rgba(0,0,0,0.2);
$color-white: #ffffff;
$color-grey-link: #767676;
$color-grey-border: #d0d0d0;
$color-black: #4d4d4d;


$primary: $blue-light;

$color-default: $color-black;


$remixicon: 'remixicon';

$gutter: 32px;
$gap: 76px;
$gap-mobile: 10px;

$breakpoints: (
  'xs': 575px,
  'sm': 767px,
  'md': 991px,
  'lg': 1199px,
  'xl': 1399px,
);

$padding: (
  'p': 'padding',
  'pt': 'padding-top',
  'pr': 'padding-right',
  'pb': 'padding-bottom',
  'pl': 'padding-left',
);

$aligns: (
  'start': flex-start,
  'end': flex-end,
  'center': center,
  'stretch': stretch,
);

$grid-aligns: (
  'start': start,
  'end': end,
  'center': center,
  'stretch': stretch,
);

$justifies: (
  'start': flex-start,
  'end': flex-end,
  'center': center,
  'around': space-around,
  'between': space-between,
);
