.dashboard-section {
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-around;

  * {
    // margin: 0;
    // padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  .button-burger {
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 20px;
    
    border-radius: 100px;

    // background-color: red;
    &.slide {

      &.blue {
        background-color: $blue-light;
      }

      &.green {
        background-color: $color-green;
      }
    }
  }

  .breadcumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &-left {
      display: flex;
      align-items: center;
      span {
        display: block;
        margin-left: 10px;
        font-size: $font-16;
        font-weight: $normal;
        color: $font-grey;
      }
    }

    &-right {
      .profile {
        display: flex;
        align-items: center;
        .profile_user {
          width: 25%;
          margin-right: 10px;
          height: 30%;

          @include sm {
            order: 3;
          }
        }

        .wrapper{
          display: flex;
          position: relative;
          color: $font-grey;
          align-items: center;

          .font-16_normal,
          .chevron {
            cursor: pointer;
          }

          .sub-profile {
            display: none;
            position: absolute;
            right: 0;
            top: 100%;
            background-color: white;
            width: 400px;
            padding: 25px;
            box-shadow: -2px 5px 5px 0px rgba(0, 0, 0, 0.2);
            z-index: 6;
            border-radius: 20px;

            @include sm {
              width: 100vw;
              height: 130vh;
              border-radius: 0;
              right: -104px;
              top: -40px;
            }
            
            &.open{
              display: block;

            }

            .profileWrapper {
              display: flex;
              justify-content: space-between;

              .font-24_bold {
                font-size: $font-24;
                font-weight: $bold;
              }

              .close {
                cursor: pointer;
              }
            }

            .profile-section{
              border-bottom: 2px solid $color-grey-border;
              box-shadow: none;
              border-radius: 0px;

              @include sm {

                img {
                  order: 1;
                  width: 10%;
                }

                .profile-description{
                  order: 2;
                }
              }

              .font-16_bold {
                color: black;
              }

              .idProfile {
                font-size: $font-12;
                color: $blue-light;
              }
            }

            

            .font-16{
              font-size: $font-16;
              font-weight: $bold;
              margin-bottom: 20px;
              display: block;
            }

            .colorWrapper {
              border-bottom: 2px solid $color-grey-border;
              margin-bottom: 20px;

              .card {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                cursor: pointer;
                
                span {
                  margin-left: 30px;
                }

                .blueIcon,
                .greenIcon {
                  width: 30px;
                  height: 30px;
                  border-radius: 50px;
                 
                }

                .blueIcon {
                  background-color: $blue-light;
                }

                .greenIcon {
                  background-color: #57a452;
                }

              }
            }

            .logoutWrapper {
              display: flex;
              align-items: center;
              color: red;
              cursor: pointer
              ;
              span {
                margin-left: 20px;
                font-size: $font-16;
              }
            }
          }
        }
        

        .font-16_normal {
          display: block;

          @include sm {
            display: none;
          }
        }

        span {
          margin-right: 40px;
        }



      }
    }
  }

  .sidebar {
    width: 350px;
    background: #ffff;
    z-index: 100;
    transition: all 0.5s ease;
    padding: 20px;
    border-radius: 15px;
    margin: 10px 10px 0;
    height: calc(90vh);
    position: relative;
    box-shadow: $box-shadow;

    @include sm {
      display: none;
    }

    .logo_close {
      display: none;
      transition: 0.3s ease;
      transition-delay: 0.1s;
    }

    .box {
      background-color: white;

      &--select {
        background-color: $primaryfont !important;
      }
    }

    .asking-square {
      z-index: 3;
      width: 40px;
      height: 40px;
      background-color: white;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      border-radius: 10px;
      margin-bottom: 10px;
      color: green;
      font-weight: $bold;
    }

    .asking-square-mobile {
      // position: relative;
      display: none;
    }

    .box-sidebar {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding: 25px;
      border-radius: 15px;
      align-items: center;
      transition-delay: 0s;

      .description {
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../../../public/images/banner-sidebar.jpg");
        
        background-color: red;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 15px;

        &.blue {
          box-shadow: inset 0 0 0 2000px rgba(165, 188, 243, 0.6);
        }

        &.green {
          box-shadow: inset 0 0 0 2000px rgba(237,255,232, 0.6);
        }

        &_need_help {
          margin-bottom: 5px;
        }

        &_reach {
          margin-bottom: 20px;
          font-size: $font-12;
        }
      }

      span {
        display: flex;
        justify-content: center;
        color: white;
        z-index: 3;
      }

      .btn-details {
        z-index: 4;
        background-color: white;
        box-shadow: none;
        padding: 10px 8px;

        span {
          color: $blue-light;
          font-weight: $bold;
        }
      }
    }

    &.close {
      width: 78px;

      .asking-square-mobile {
        background-color: #f6f8fa;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 13px;
        border-radius: 0 0 15px 15px;
      }

      .logo_full {
        display: none;
        transition: 0.3s ease;
        transition-delay: 0.1s;
      }

      .logo_close {
        display: block;
        width: 90%;
        transition: 0.3s ease;
        transition-delay: 0.1s;
      }

      .box-sidebar {
        display: none;
        transition-delay: 0s;
      }

      .logo-details .logo_name {
        transition-delay: 0s;
        opacity: 0;
        pointer-events: none;
      }

      .nav-links {
        overflow: visible;
      }

      .nav-links li .icon-link {
        display: block;
      }

      .nav-links i.arrow {
        display: none;
      }

      .nav-links li a .link_name {
        opacity: 0;
        pointer-events: none;
      }

      .nav-links {
        p {
          display: none;
        }
      }
    }

    ///
    .logo-details {
      height: 60px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    .logo-details i {
      font-size: 30px;
      color: #77619e;
      height: 50px;
      min-width: 78px;
      text-align: center;
      line-height: 50px;
    }

    .logo-details .logo_name {
      font-size: 22px;
      color: #77619e;
      font-weight: 600;
      transition: 0.3s ease;
      transition-delay: 0.1s;
    }
    .nav-links {
      // height: 100%;
      padding: 30px 0 150px 0;
      overflow: auto;
      height: 50vh;

      p {
        font-size: $font-16;
        color: $font-grey;
        font-weight: $semi-bold;
        margin-left: 10px;
      }

      li {
        display: flex;
        height: 50px;
        align-items: center;
        padding: 5px;
        position: relative;
        list-style: none;
        transition: all 0.4s ease;

        &.active {
          &.blue,
          &.green {
            border-radius: 10px;
          }

          &.blue {
            background: rgba(62, 118, 255, 0.3);
          }

          &.green {
            background: #edffe8;
            color: $color-grey-border;
            & ~ li {
              &:hover {
                background: #edffe8;
                border-radius: 10px;
              }
            }
          }


        }

        a {
          text-decoration: none;
          display: flex;
          align-items: center;

          span {
            font-size: $font-16;
            color: $font-grey;
            margin-left: 10px;
          }
        }

        &:hover {
          background: rgba(62, 118, 255, 0.3);
          border-radius: 10px;
        }
      }
    }

    .nav-links li .icon-link {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .nav-links li i {
      height: 50px;
      min-width: 78px;
      text-align: center;
      line-height: 50px;
      color: #77619e;
      font-size: 20px;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .nav-links li.showMenu i.arrow {
      transform: rotate(-180deg);
    }
  }

  .home-section {
    position: relative;
    // background: #e4e9f7;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
    padding: 25px;

    @include sm {
      width: 100%;
    }
  }


  .sidebar.close ~ .home-section {
    width: calc(100% - 78px);
  }
  .home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center;
  }
  .home-section .home-content .bx-menu,
  .home-section .home-content .text {
    color: #77619e;
    font-size: 35px;
  }
  .home-section .home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
  }
  .home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
  }
  @media (max-width: 400px) {
    .sidebar.close .nav-links li .sub-menu {
      display: none;
    }
    .sidebar {
      width: 78px;
    }
    .sidebar.close {
      width: 0;
    }
    .home-section {
      left: 78px;
      width: calc(100% - 78px);
      z-index: 100;
    }
    .sidebar.close ~ .home-section {
      width: 100%;
      left: 0;
    }
  }

  .profile-section {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    margin: 20px 0;
    box-shadow: $box-shadow;

    img {
      margin-right: 20px;
    }

    .profile-description {
      span {
        display: block;
      }

      .font-16_bold {
        margin-bottom: 10px;
      }
    }
  }

  .crypto-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    @include sm {
      flex-wrap: wrap;

      .cryptoWrapper:nth-child(1) {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    .cryptoWrapper {
      border-radius: 15px;
      background-color: white;
      padding: 25px;
      width: calc((4 / 12) * 100% - 16px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: $box-shadow;

      @include sm {
        width: calc((6 / 12) * 100% - 10px);
      }

      .description {
        span {
          display: block;
          color: $font-grey;
        }

        &_name {
          margin-bottom: 5px;
        }

        &_value {
          font-size: $font-24;
          font-weight: $bold;

          &.blue {
            color: $blue-light;
          }

          &.green {
            color: $color-green;
          }

        }
      }

      .crypto-green,
      .crypto-blue,
      .crypto-grey {
        border-radius: 10px;
      }

      .crypto-green {
        background-color:  $color-green;
      }

      .crypto-blue {
        background-color: $blue-light;
      }

      .crypto-grey {
        background-color: $color-grey-border;
      }
    }
    
  }

  .table-section {
    box-shadow: $box-shadow;
    border-radius: 15px;


    &.blue {
      box-shadow: -1px -9px 0px -1px $blue-light;
    }

    &.green {
      box-shadow: -1px -9px 0px -1px #57a452;
    }

    
    // .crypto_image {
    //   width: 10%;
    // }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .p-datatable-header,
    th {
      background-color: white;
    }

    .p-datatable-header {
      border-radius: 15px 15px 0 0;
    }

    .p-paginator-bottom {
      border-radius: 0 0 15px 15px;
    }
  }

  .dashboard {
    display: flex;
    padding: 20px;

    &--left {
      background-color: white;
      border: 1px solid black;
      border-radius: 25px;
      padding: 25px;
      min-height: 75vh;
      margin-right: 20px;
      .dashboard-logo {
        border-bottom: 0.5px solid black;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;

        img {
          width: 75%;
        }
      }

      .pagesWrapper {
        margin-bottom: 20px;

        a {
          display: flex;
          align-items: center;

          .pages-logo {
            width: 30px;
            height: 30px;
            background-color: red;
            margin-right: 10px;
          }
        }
      }
    }

    &--right {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
