#__next {
    @import './default/variables';
    @import './default/mixins';
    @import './default/fonts';
    @import './default/container';
    @import './default/mixins';

    // components
    @import './components/input';
    @import './components/button';

    //pages
    @import './pages/login';
    @import './pages/dashboard';

    font-family: $primaryfont;
    font-size: $font-16;

    .danger {
        font-size: 12px;
        display: flex;
        align-items: center;
        margin-top: 10px;
        color: red;

        .text{
            margin-left: 10px;
        }
    }

    .font12-grey{
        font-size: $font-12;
        font-weight: $normal;
        color: $color-grey-border;
    }

    .font-12 {
        font-size: $font-12;
        
        &.--bold{
            font-weight: $bold;
            
        }

        &_thin {
            font-weight: $normal;
        }
    }

    .title-bold{
        font-size: $font-24;
        font-weight: $bold;
        margin-bottom: 20px;
        display: block;
    }

    .font-16{
        font-size: $font-16;
        &_normal {
            font-size: $font-16;
            font-weight: $normal;
        }

        &_bold {
            font-size: $font-16;
            font-weight: $bold;
        }
    }
}